<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2ndlayout</title>
        <link rel="stylesheet" href="2ndlayout.css">
    </head>

    <body>
        <div id="wrap">

            <header id="header">
                <div class="content01"></div>
                <div class="content02"></div>
            </header>

            <main id="main">
                <div class="content03"></div>
                <div class="container">
                    <div class="content04"></div>
                    <div class="content05"></div>
                </div>
            </main>

                <footer id="footer">
                </footer>

        </div>
    </body>
</html>