body {
    margin: 0;
    padding: 0;
}

#wrap { 
    margin: 0 auto;
    width: 1250px;
    height: 100vh;
}

#header {
    display: flex;
    height: 100px;
    width: 100%;
}

#header .content01 {
    background-color: #DE7D86;
    width: 100%;
}

#main {
    width: 100%;
    display: flex;
    height: 880px;
    flex-direction: column;
}

#main .content-img {
    height: 450px;
    width: 1200px;
}

#main .container {
    display: flex;
    width: 100%;
    height: 440px; 
} 

.container .content02 {
    background-color: #FFC5C5;
    width: 416px;
}

.container .content03 {
    background-color: #FFA3A3;
    width: 418px;
}

.container .content04 {
    background-color: #54D8DC;
    width: 416px;
}

#footer {
    height: 100px;
    background-color: #6E6875;
}
