#body {
    margin: 0;
    padding: 0;   
}

#wrap {
    width: 1250px;
    height: 1080px;
    margin: 0 auto;
    background-color: black;
}

#header {
    height: 100px;
    background-color: #efefef;
    display: flex;
}

#logo {
    width: 250px;
    height: 100px;
    background-color: #EAE9EE;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #C2C3D6;
}

#main {
    width: 100%;
    height: 880px;
}

.content01 {
    height: 440px;
    background-color: #E1E1F5;
}

.content02 {
    height: 440px;
    display: flex;
}

.content02_1 {
    width: 50%;
    height: 440px;
    background-color: #CACBE4;
}

.content02_2 {
    width: 50%;
    height: 440px;
    background-color: #B1B2D5;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #C2C5D6;
}