#body {
    margin: 0;
    padding: 0;
}

#warp {
    width: 1250px;
    height: 1080px;
    margin: 0 auto;
    background-color: #efefef;
}

#header {
    height: 100px;
    background-color: #e3e3e3;
    display: flex;
}

.logo{
    width: 250px;
    height: 100px;
    background-color: #EEEEE9;
}

#nav {
    width: 100%;
    height: 100px;
    background-color: #D6CCC2
}

#main{
    background-color: e3e3e3;
    height: 880px;
}

.content01 {
    height: 440px;
    background-color: #F5ECE1;
}

.content02 {
    height: 440px;
    background-color: #D6CCC2;
    display: flex;
}

.content02_1{
    width: 50%;
    height: 440px;
    background-color: #E4D6CA;
}

.content02_2{
    width: 50%;
    height: 440px;
    background-color: #D5BEB1;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #D6CCC2;
}

    /* 미디어를 쓰면 사이즈를 줄였을 때의 모습을 설정해 줄 수 있음 */

@media screen and (max-width: 680px) {
    .logo{
        width: 0px;
        height: 0px;
    }

    .content01 {
        height: 294px;
    }
    
    .content02 {
        display: block;
    }

    .content02_1{
        width: 100%;
        height: 294px;
    }

    .content02_2{
        width: 100%;
        height: 294px;
    }
}
