<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>4thlayout</title>
        <link rel="stylesheet" href="4thlayout.css">
    </head>

    <body>
        <div id="wrap">

            <header id="header">
                <div class="content01"></div>
                <div class="content02"></div>
            </header>

            <main id="main">
                <div class="container-01">
                    <div class="content-img1">
                        <img src="img/layout04_01.png" alt="바다 사진">  
                    </div>
                    <div class="content-img2">
                        <img src="img/layout04_02.png" alt="바다 사진">  
                    </div>
                    <div class="content-img3">
                        <img src="img/layout04_03.png" alt="바다 사진">  
                    </div>
                </div>
        
            </main>

                <footer id="footer">
                    <div class="content03"></div>

                    <div class="container-02">
                        <div class="content04"></div>
                        <div class="content05"></div>
                    </div>
                </footer>

        </div>
    </body>
</html>