@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumSquareNeo-Variable';
    background-color: rgb(146, 226, 255);
    padding: 0;
}

#wrap {
    margin: o auto;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    padding: 40px;
}

#header h1 {
    color: #ffffff;
    text-align: center;
}

#header .add {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.add input {
    width: 100%;
    padding: 20px 30px;
    outline: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareNeo-Variable';
}

.add input ::placeholder {
    font-size: 15px;
}

.add button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform:  translateY(-50%);
    background-color: #00000000;
}

.add button img {
    width: 22px;
    height: 22px;
}

#main {
    background-color: #ffffff;
    margin-top: 30px;
    padding: 20px;
}

#main.list {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    height: 100%;
    border-bottom: 2px solid #342b75;
}

.list .box {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 80%;
    color: #4d1989;
}

.box input {
    display: none;
}

.box input [type='checkbox']+label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #342b75;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
}

.box input [type='checkbox']:checked+label ::after{
    content: "0";
    position: relative;
    width: inherit;
    height: inherit;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #4d1989;
}

.list button {
    background-color: #00000000;
    border: 0;
    padding-top: 5px;
    padding-right: 5px;
}

.list button img {
    width: 15px;
    height: 15px;
}

button {
    cursor: pointer;
}