body {
    margin: 0;
    padding: 0;
}

#wrap { 
    margin: 0 auto;
    width: 1250px;
    height: 100vh;
}

#header {
    display: flex;
    height: 100px;
    width: 100%;
}

#header .content01 {
    background-color: #6B705C;
    width: 20%;
}

#header .content02 {
    background-color: #3B5A42;
    width: 80%;
}

#main {
    background-color: #DCD7CB;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    height: 780px;
    justify-content: space-around;
}

.container-01 {
    display: flex;
    width: 100%;
}

.content-img1 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 0px;
    width: 700px;
}

.top_img01 {
    display: flex;
}

.top_img02 {
    margin-top: 20px;
}

.content-img2 {
    margin-left: 700px;
}


.top_img03 {
    width: 400px;
    height: 400px;
}

.container-02 {
    width: 100%;
}

.row {
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content03 {
    background-color: #A1B189;
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

.container-03 {
    display: flex;
    width: 100%;
    justify-content: flex-end; 
}

.content04 {
    width: 53.5%;
    background-color: #588158;
    height: 320px;
    margin-top: -330px;
}

.content04 {
    margin-right: 24px;
}

#footer {
    height: 100px;
    background-color: #334E41;
}