<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1stlayout</title>
        <link rel="stylesheet" href="5thlayout.css">
    </head>

    <body>
        <div id="wrap">

            <header id="header">
                <div class="content01"></div>
                <div class="content02"></div>
            </header>

            <main id="main">
                <div class="container-01">
                    <div class="content-img1">
                        <div class="top_img01">
                            <img src="img/layout05_01.png" alt="숲 사진">
                        </div>
                        <div class="top_img02">
                            <img src="img/layout05_02.png" alt="등 사진">
                        </div>
                    </div>
                </div>

                    <div class="content-img2">
                        <div class="top_img03">
                            <img src="img/layout05_03.png" alt="나뭇잎 사진"> 
                        </div>
                    </div>
            
                <div class="container-02">
                    <div class="row">
                        <div class="content03"></div>
                        <div class="content03"></div>
                        <div class="content03"></div>
                        <div class="content03"></div>
                        <div class="content03"></div>
                        <div class="content03"></div>
                    </div>
                </div>
                <div class="container-03">
                    <div class="content04"></div>
                </div>
            </main>

            <footer id="footer">
            </footer>

        </div>
    </body>
</html>