@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

button{
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
}

body{
    background: #fff;
    color: #333;
}

.wrap{
    position: relative;
}

.inner{
    width: 1200px;
    margin: auto;
}

header{
    position: relative;
    height: 100px;
    background-color: #444C61;
    padding-top: 35px;
    padding-left: 30px;
}

header h1{
    width: 200px;
    height: 40px;
}

header h1 a{
    display: block;
}

nav{
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 9999;
}

nav>ul{
    display: flex;
}

nav>ul>li>a{
    display: block;
    width: 120px;
    text-align: center;
    font-weight: bold;
    color: #F5E4EA;
    padding: 10px;
}

nav>ul>li:hover>a{
    color: #fff;
    background: #F5E4EA;
}

.sub{
    z-index: 5;
    display: none;
    
}


.sub li a{
    color: #fff;
    background: #000000;
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    opacity: 70%;
}

.sub li a:hover{
    background-color: #fffcfd;
}

.contents .slide{
    position: relative;
    height: 300px;
    background: #ffffff;
    overflow: hidden;
}

.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 900px;
}

.slide ul li {
    position: relative;
    width: 1200px;
    height: 300px;
}

.slide ul li a {
    display: block;
    height: 100%;
}

.slide ul li.s1 {
    background: url(img/Rectangle\ 92-2.png) no-repeat left center/cover;
}

.slide ul li.s2 {
    background: url(img/Rectangle\ 99.png) no-repeat left center/cover;
}

.slide ul li.s3 {
    background: url(img/Rectangle\ 100.png) no-repeat left center/cover;
}

.slide ul li.p {
    background: #F5E4EA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: bold;
}


.contents .con{
    height: 280px;
    background: #369;
    display: flex;
}

.contents .con article{
    width: 400px;
    height: 100%;
}

.contents .con article.con1{
   background: #F5E4EA;
}

.con .tabmenu li{
    width: 150px;
    display: inline-block;
    background-color: #F5E4EA;
}

.con .tabmenu li.on{
    background-color: #444C61;
    color: #fff;
}


.con .tabmenu li a{
    display: block;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.con .tabcon{
    background-color: #F5E4EA;
    height: 200px;
    padding: 30px;
}

.notice th{
    text-align: left;
    color: #000000;
}

.notice td{
    color: #000000;
}

.notice tr{
    border-bottom: 1px #fff;
}

.notice a{
    display: block;
    padding: 5px;
}

 .con .gall{
    padding-top: 30px;
    display: none;
}

.gall ui{
    text-align: center;
}

.gall ul li{
    width: 120px;
    display: inline-block;
}

.contents .con article.con2{
    background: #000000;
 }

 .con2{
    padding: 0px;
 }

 .con2 a{
    display: block;
    height: 100%;
    background: url(img/Rectangle\ 92-1.png) center/cover;
    text-align: center;
    overflow: hidden;
    opacity: 70%;
 }

 .con2 div{
    height: 100%;
    padding-top: 120px;
 }

 .con2 h2{
    margin-bottom: 10px;
    color: #ffffff;
 }

 .contents .con article.con3{
    background: #000000;
 }

 .con3 a{
    display: block;
    height: 100%;
    background: url(img/Rectangle\ 99.png) center/cover;
    text-align: center;
    overflow: hidden;
    opacity: 70%;
 }

 .con3 div{
    height: 100%;
    padding-top: 120px;
 }

 .con3 h2{
    margin-bottom: 10px;
    color: #ffffff;
 }




footer {
    position: relative;
    height: 100px;
    background: #444C61;
}

footer .fcopy {
    position: absolute;
    left: 400px;
    top: 50px;
    color: #9D9D9D;
    font-size: 13px;
}

footer .flogo {
    position: absolute;
    top: 40px;
    left: 30px;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px;
    width: 500px;
    background: #F5E4EA;
    z-index: 9999;
    display: none;
}

.popup h2{
    color: #000000;
    margin-bottom: 20px;
}

.popup .text{
    margin: 20px 0;
}

.popup button {
    text-align: right;
}

