* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: /* 1번) 원하는 폰트를 지정해주세요. */ "Hahmlet", serif;
}

/* <uniquifier>: Use a unique and descriptive class name */
.hahmlet-unique {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a:link, a:visited { 
    text-decoration: none;
    color: rgb(255, 244, 252);
}

.container {
    width: 960px;
    margin: 0 auto;
}

nav {
    height: 80px;
    background-color: rgba(160, 33, 185, 0.945);/* 2번) 원하는 컬러를 지정해주세요.(맨 위) */ 
    line-height: 80px;
}

nav::after{
    content: "";
    display: black;
    clear: both;
}

.nav-logo {
    font-size: 20px; /* 3번) 폰트 사이즈를 지정해주세요. */
    float: left;
    margin: 0;
}

.nav-menu {
    float: right;
}

.nav-btn {
    list-style-type: none;
    margin: 0;
}

ul.nav-btn > li {
    float: left;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}

.hd {
    position: relative;
    height: 140px;
    text-align: center;
}

.hd-title {
    font-size: 35px;
    margin-top:0;
    margin-bottom: 0px;
    padding: 25px;
}

.hd:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color:rgb(250, 209, 243);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hd .container {
    position: relative;
    color: rgb(88, 9, 94);
}

.su {
    font-weight: bolder;
    font-size: 50px;
}

.sec {
    text-align: center;
    padding: 115px 0;
    background-color: #fbf4fb
}

.container-1 {
    width: 800px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between; /* 컨테이너 안의 요소들을 양쪽 끝으로 배치 */
    
}


.daemun {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0px;

}

.daedap {
    font-weight: lighter;
    font-size: 15px;
    text-align: left;  
    margin-top: 0px;
}

.rectangle1 {
    width: 400px; 
    height: 200px; 
    display: grid;
    place-items: center;
    background-color: rgb(243, 223, 243); 
    color: rgb(148, 8, 169);
    line-height: 20px; 
    
    }

.rectangle2 {
    width: 400px; 
    height: 200px;
    display: grid;
    place-items: center;
    background-color: rgb(243, 223, 243); 
    color: rgb(119, 49, 168); 
    line-height: 20px;
    }

footer {
    background-color: #f7cdf6;
    display: flex;
    justify-content: center;
    padding: 1em;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  footer {
    color: rgb(64, 8, 75);
  }
  footer > p {
    font-family: "Hahmlet", serif;
    font-weight: 800;
  }
